.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
   
}

.searchBar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    color: #666;
}

