.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
   
}

.searchBar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    color: #666;
}

.searchBar button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.searchBar button:hover {
    background-color: #333;
}
